<div class="b-todo__item-wrap">
    <div class="b-todo__item-checkbox checkbox" ng-show="!vm.isEditting">
        <label>
            <input type="checkbox"
              ng-model="vm.todo.isComplite">
              {{vm.todo.title}}
        </label>
        <button type="button" class="btn btn-default b-todo__item-edit"
          ng-click="vm.isEditting = true"
          ng-show="!vm.isEditting">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true">
            </span>
        </button>
    </div>
    <form class="form-inline b-todo__item-form"
      ng-submit="vm.isEditting = false"
      ng-show="vm.isEditting">
        <div class="form-group">
            <input type="text"
              ng-model="vm.todo.title"
              ng-value="vm.todo.title"
              class="form-control" placeholder="Task">
        </div>
    </form>
</div>
