<form class="form-inline b-board__form" ng-submit="vm.add()">
    <div class="form-group b-board__form-group">
        <input type="text" class="form-control" placeholder="Task" ng-model="vm.newTitle">
    </div>
    <button type="submit" class="btn btn-default b-board__form-btn">Create</button>
</form>
