<div class="b-board__wrap">
    <a class="b-board__delete" ng-click="$ctrl.remove()">Delete</a>
    <h1 class="b-board__title"
      ng-bind="$ctrl.board.title"
      ng-show="!$ctrl.isEdit"></h1>
    <form class="form-inline b-board__form clearfix"
      ng-submit="$ctrl.update($ctrl.formData)"
      ng-show="$ctrl.isEdit">
        <div class="form-group b-board__form-group">
            <input type="text" class="form-control" placeholder="Edit Title" ng-model="$ctrl.formData.title"
            ng-value="$ctrl.board.title">
        </div>
        <button type="submit" class="btn btn-primary b-board__form-btn">Edit</button>
    </form>
    <a class="b-board__edit" ng-click="$ctrl.isEdit = !$ctrl.isEdit">Edit board's title</a>
    <div class="b-board__content">
        <todo-list todos="$ctrl.board.todos"></todo-list>
    </div>
</div>
