<div>
    <div class="row">
        <div class="b-board col-md-4 col-sm-6"
          ng-repeat="board in $ctrl.boards">
            <board board="board"></board>
        </div>
        <!-- add board  -->
        <div class="b-board col-md-4 col-sm-6">
          <div class="b-board__wrap">
              <h1 class="b-board__title" ng-bind="$ctrl.formData.title"></h1>
              <form class="form-inline b-board__form" ng-submit="$ctrl.add()" name="BoardForm">
                  <div class="form-group b-board__form-group"
                    ng-class="{'has-error': BoardForm.title.$dirty && BoardForm.title.$error.required}">
                      <input type="text" name="title" class="form-control" placeholder="New Board" ng-model="$ctrl.formData.title" required>
                  </div>
                  <button type="submit" class="btn btn-default b-board__form-btn">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                  </button>
                  <span class="b-error" ng-show="BoardForm.title.$dirty && BoardForm.title.$error.required">Field is require!!!</span>
              </form>
          </div>
        </div>
    </div>
</div>
