<div class="container b-content">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <h1 class="text-center b-content__title">You can see our secret content</h1>
      <p class="text-center b-content__text">
        Wow Wow Wow Wow Wow
      </p>
    </div>
  </div>
</div>
