ul, li {
  list-style: none;
  padding: 0;
}
body {
  background: url(../images/bg-blue.jpg) center fixed no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 60px;
}
.b-board {
  margin-bottom: 35px;
}
.b-board__wrap {
  height: 100%;
  background: #fff;
  padding: 25px;
  position: relative;
  -webkit-box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.44);
  box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.44);
}
.b-board__delete {
  position: relative;
  float: right;
  cursor: pointer;
  overflow: hidden;
  text-indent: -234px;
  padding: 0px 7px;
}
.b-board__delete::after, .b-board__delete::before {
  content: '';
  position: absolute;
  top: 4px;
  left: -1px;
  height: 2px;
  width: 10px;
  background: #000;
}
.b-board__delete::after {
  transform: rotate(45deg);
}
.b-board__delete::before {
  transform: rotate(-45deg);
}
.b-board__title {
  clear: both;
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
}
.b-todo__wrapper {
  height: 147px;
  margin-bottom: 35px;
  overflow-y: scroll;
}
.b-board__form {
  border: 1px solid;
  padding: 16px;
}
.b-board__form::after {
  content: '';
  display: table;
  clear: both;
}
.b-board__form-group {
  float: left;
  width: 60%;
  margin-bottom: 0;
}
.b-board__form-btn {
  float: right;
  width: 35%;
}
.b-board__form-group .form-control {
  width: 100%;
}
.m-todo__item_done label {
  text-decoration: line-through;
}
.b-boards__create {
  float: left;
  width: 200px;
  background: #fff;
  text-align: center;
}
.b-boards__create a {
  display: block;
  width: 100%;
  padding: 121px 0;
  cursor: pointer;
}
.m-board__form_edit {
  border: none;
  padding: 10px 0 18px;
}
.m-board__form_edit .b-board__form-group {
  width: 80%;
}
.m-board__form_edit .b-board__form-btn {
  width: 15%;
  padding: 15px 0;
}
.b-board__btn-edit {
  display: none;
}
.b-board__title:hover + .b-board__btn-edit, .b-board__btn-edit:hover {
  display: block;
  position: absolute;
  top: 45px;
  right: 15px;
}
.m-board__form_edit .form-control {
  height: 52px;
  font-size: 25px;
}
.b-todo__item-checkbox {
  position: relative;
  min-height: 34px;
}
.b-todo__item-edit {
  display: none;
  margin: -9px 8px 0 0;
}
.b-todo__item-checkbox:hover .b-todo__item-edit {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}
.b-todo__item-form {
  padding-right: 15px;
}
.b-todo__item-form .form-control,
.b-todo__item-form .form-group {
  width: 100%;
}


@media (max-width: 600px) {
  body {
    padding: 20px;
  }
}
