<h2>Попадите в удивительное приключение!</h2>
<div class="country col-md-8 col-md-offset-2 clearfix">
    <div class="tour-content-one">
        <img ng-src="{{tourCtrl.tour.photo}}" alt="pic" class="tour-photo">
        <div class="tour-content">
            <h3>{{tourCtrl.tour.name}}</h3>
            <p>{{tourCtrl.tour.description}}</p>
            <p>Продолжительность тура: {{tourCtrl.tour.duration}}</p>
            <span>Стоимость тура за 1 человека: {{tourCtrl.tour.cost | currency}}</span>
            <p>Страна: {{tourCtrl.country.name}}</p>
            <img ng-src="{{tourCtrl.country.photo}}" class="country-photo">
            <p>Отель: {{tourCtrl.hotel.name}}</p>
            <img ng-src="{{tourCtrl.hotel.photo}}" alt="{{tourCtrl.hotel.name}}">
            <p>Звезд: {{tourCtrl.hotel.category}} - {{tourCtrl.hotel.description}}</p>
            <a href="#/tour/{{tour.id}}" class="btn btn-info">Заказать тур</a>
        </div>
    </div>
</div>
<a href="#/" class="btn btn-info back-index">Вернутья на главную страницу</a>