<div class="b-board__wrap">
    <p>Create new board</p>
    <h1 class="b-board__title" ng-bind="vm.newBoardTitle"></h1>
    <form class="form-inline b-board__form" ng-submit="vm.add()">
        <div class="form-group b-board__form-group">
            <input type="text" ng-model="vm.newBoardTitle" class="form-control" placeholder="Title of Board">
        </div>
        <button type="submit" class="btn btn-default  b-board__form-btn">Create</button>
    </form>
</div>
