<div class="b-board__wrap">
    <a class="b-board__delete"
      ng-show="vm.showButton()"
      ng-click="vm.remove()">Delete</a>
    <h1 class="b-board__title"
      ng-show="!vm.isEditting"
      ng-bind="vm.board.title"></h1>
    <button type="button" class="btn btn-default b-board__btn-edit"
      ng-click="vm.isEditting = true"
      ng-show="!vm.isEditting">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true">
        </span>
    </button>
    <form class="form-inline b-board__form m-board__form_edit"
      ng-submit="vm.isEditting = false"
      ng-show="vm.isEditting">
        <div class="form-group b-board__form-group">
            <input type="text"
              ng-model="vm.board.title"
              ng-value="vm.board.title"
              class="form-control" placeholder="Title of Board" >
        </div>
        <button type="submit" class="btn btn-primary
          b-board__form-btn">
          <span class="glyphicon glyphicon-ok glyphicon" aria-hidden="true">
          </span>
        </button>
    </form>
    <div class="b-board__content">
        <todo-list todos="vm.board.todos"></todo-list>
    </div>
</div>
