<div class="b-todo">
  <ul class="b-todo__wrapper">
    <li class="b-todo__item"
      ng-repeat="todo in vm.todos"
      ng-class="{'m-todo__item_done': todo.isComplite}">
        <todo todo="todo"></todo>
    </li>
  </ul>
  <p ng-bind="vm.unfinishedTodo()">
  </p>
  <todo-add></todo-add>
</div>
