body {
    background: url(../images/357_04.png) 0 0 repeat;
    font: 16px Open Sans, Arial, sans-serif;
    padding: 1px 20px 0;
}
.h1, .h2, .h3, .h4, body, h1, h2, h3, h4, h5, h6 {
    font-family: Open Sans, Arial, sans-serif;
}
a {
    text-decoration: none;
}
.clearfix::after,
.clearfix::before {
    content:'';
    display: table;
    clear: both;
}
.form-control {
    font-size: 13px;
}
.form-control {
    font-size: 10px;
}
.form-control option {
    font-size: 13px;
}
.form-group label.control-label {
    font-size: 14px;
    font-weight: bold;
    color: #000;
}
.title {
    margin: 0 auto 30px;
    text-align: center;
    background-color: rgba(3,169,244,.4);
    padding: 10px 10px 30px;
}
.title h1 {
    clear: both;
    margin-top: 0;
}
.country {
    border: 1px solid #c5c5c5;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(250,250,250,.4);
}
.country:hover {
    background-color: rgba(197,197,197,.4);
}
.manage-table a {
    cursor: pointer;
}
.tour-content{
    float: left;
    width: 70%;
    padding-left: 20px;
}
.tour-photo {
    width: 30%;
    float: left;
    margin-bottom: 15px;
}
.country h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    margin-top: 0;
}
.btn {
    display: block;
    width: 150px;
}
.country-photo {
    width: 40px;
}
.back-index {
    clear: both;
    width: 100%;
}
.manage {
    float: right;
}
.btn.btn-success {
    width: 185px;
    padding: 15px 20px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.manage-form .form-control{
    font-size: 15px;
}
.modal-footer .btn {
    display: inline-block;
}
.tour-description {
    width: 200px;
}
.btn.btn-danger {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    line-height: 30px;
    text-align: center;
}
.manage h1 {
    font-weight: bold;
}
.btn.btn-info {
    width: auto;
}