<div class="col-md-12 manage">
    <h3>Работа с таблицами</h3>
    <h1>Туры</h1>
    <table class="table table-striped table-hover manage-table">
        <thead>
        <tr>
            <th>#</th>
            <th>
                <a ng-click="sortType = 'name'; sortReverse = !sortReverse">Имя</a>
                    <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>Ссылка на фото</th>
            <th class="tour-description">Описание</th>
            <th>
                <a ng-click="sortType = 'duration'; sortReverse = !sortReverse">Дней</a>
                <span ng-show="sortType == 'duration' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'duration' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>
                <a ng-click="sortType = 'cost'; sortReverse = !sortReverse">Стоимость</a>
                <span ng-show="sortType == 'cost' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'cost' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>Ред-ть</th>
            <th>Удалить</th>
        </tr>
        </thead>
        </tbody>
        <tr class="active" ng-repeat="tour in tourList | orderBy:sortType:sortReverse">
            <td>{{$index + 1}}</td>
            <td>{{tour.name}}</td>
            <td>{{tour.photo}}</td>
            <td>{{tour.description}}</td>
            <td>{{tour.duration}}</td>
            <td>{{tour.cost}}</td>
            <td><a class="fa fa-pencil" ng-click="editTour(tour)"></a></td>
            <td><a class="btn btn-raised btn-danger btn-xs" ng-click="deleteTour(tour)">x</a></td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-raised btn-success" data-toggle="modal" data-target="#myModal">
        Добавить тур
    </button>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Тур</h4>
                </div>
                <div class="modal-body">
                    <form class="form-group manage-form" name="tourForm">
                        <label class="control-label">Имя</label>
                        <input type="text" class="form-control" ng-model="newTour.name" required>
                        <label class="control-label">Ссылка на фото</label>
                        <input type="text" class="form-control" ng-model="newTour.photo" required>
                        <label class="control-label">Описание</label>
                        <input type="text" class="form-control" ng-model="newTour.description" required>
                        <label class="control-label">Страна</label>
                        <select class="form-control" ng-model="newTour.countryId" required>
                            <option value="">Выбрать</option>
                            <option ng-repeat="country in countries" value="{{country.id}}">{{country.name}}</option>
                        </select>
                        <label class="control-label">Номер отеля</label>
                        <select class="form-control" ng-model="newTour.hotelId" required>
                            <option value="">Выбрать</option>
                            <option ng-repeat="hotel in hotels" value="{{hotel.id}}">{{hotel.name}}</option>
                        </select>
                        <label class="control-label">Продолжительность</label>
                        <input type="number" class="form-control" ng-model="newTour.duration" required>
                        <label class="control-label">Стоимость</label>
                        <input type="number" class="form-control" ng-model="newTour.cost" required>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="resetData()">Закрыть
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="addTour(newTour)" ng-disabled="!tourForm.$valid">
                        Сохранить
                    </button>
                </div>
            </div>
        </div>
    </div>

    <h1>Отель</h1>
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>#</th>
            <th>Имя</th>
            <th>Ссылка на фото</th>
            <th>Звезд</th>
            <th>Описание</th>
            <th>Удалить</th>
        </tr>
        </thead>
        </tbody>
        <tr class="active" ng-repeat="hotel in hotels">
            <td>{{$index + 1}}</td>
            <td>{{hotel.name}}</td>
            <td>{{hotel.photo}}</td>
            <td>{{hotel.category}}</td>
            <td>{{hotel.description}}</td>
            <td><a class="btn btn-raised btn-danger btn-xs" ng-click="deleteHotel(hotel)">x</a></td>
        </tr>
        </tbody>
    </table>
    <div class="alert alert-dismissible alert-warning" ng-show="flag == 1">
        <h4>ВНИМАНИЕ!!!</h4>
        <p>Нельзя удалить отель, т.к. он используется в путевке!</p>
    </div>

    <button class="btn btn-raised btn-success" data-toggle="modal" data-target="#myModal2">
        Добавить отель
    </button>
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Отель</h4>
                </div>
                <div class="modal-body">
                    <form class="form-group manage-form" name="hotelForm">
                        <label class="control-label">Название</label>
                        <input type="text" class="form-control" ng-model="newHotel.name" required>
                        <label class="control-label">Ссылка на фото</label>
                        <input type="text" class="form-control" ng-model="newHotel.photo" required>
                        <label class="control-label">Количество звезд</label>
                        <select class="form-control" ng-model="newHotel.category">
                            <option value="">Выбрать</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <label class="control-label">Описание</label>
                        <input type="text" class="form-control" ng-model="newHotel.description" required>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="resetData()">Закрыть
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="addHotel(newHotel)" ng-disabled="!hotelForm.$valid">
                        Сохранить
                    </button>
                </div>
            </div>
        </div>
    </div>

    <h1>Страны</h1>
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>Ссылка на фото</th>
            <th>Удалить</th>
        </tr>
        </thead>
        </tbody>
        <tr class="active" ng-repeat="country in countries">
            <td>{{$index + 1}}</td>
            <td>{{country.name}}</td>
            <td>{{country.photo}}</td>
            <td><a class="btn btn-raised btn-danger btn-xs" ng-click="deleteCountry(country)">x</a></td>
        </tr>
        </tbody>
    </table>
    <div class="alert alert-dismissible alert-warning" ng-show="flag_2 == 1">
        <h4>ВНИМАНИЕ!!!</h4>
        <p>Нельзя удалить страну, т.к. она используется в путевке!</p>
    </div>
    <button class="btn btn-raised btn-success" data-toggle="modal" data-target="#myModal3">
        Добавить страну
    </button>
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Страна</h4>
                </div>
                <div class="modal-body">
                    <form class="form-group manage-form" name="countryForm">
                        <label class="control-label">Название</label>
                        <input type="text" class="form-control" ng-model="newCountry.name" required>
                        <label class="control-label">Ссылка на фото</label>
                        <input type="text" class="form-control" ng-model="newCountry.photo" required>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="resetData()">Закрыть
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="addCountry(newCountry)"
                            ng-disabled="!countryForm.$valid">Сохранить
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="#/" class="btn btn-info back-index">Вернутья на главную страницу</a>