<div class="container">

  <div class="center-form panel">
    <div class="panel-body">
      <h4 class="text-center"><i class="ion-person-add"></i> Sign up</h4>
      <form method="post" ng-submit="$ctrl.signup()" name="signupForm">
        <div class="form-group has-feedback"
          ng-class="{ 'has-error' : signupForm.email.$invalid && signupForm.email.$dirty }">
          <input class="form-control input-lg" type="text" id="email"
            name="email" ng-model="$ctrl.email" placeholder="Email" required>
          <span class="ion-at form-control-feedback"></span>
          <div class="help-block"
            ng-if="signupForm.email.$dirty"
            ng-messages="signupForm.email.$error">
            <div ng-message="required">Please enter your email</div>
          </div>
        </div>

        <div class="form-group has-feedback"
          ng-class="{ 'has-error' : signupForm.password.$invalid && signupForm.password.$dirty }">
          <input class="form-control input-lg" type="password" name="password"
            ng-model="$ctrl.password" placeholder="Password" required>
          <span class="ion-key form-control-feedback"></span>
          <div class="help-block" ng-if="signupForm.password.$dirty" ng-messages="signupForm.password.$error">
            <div ng-message="required">Please enter your password</div>
            <div ng-message="server" ng-bind="$ctrl.errorMessage"></div>
          </div>
        </div>

        <p class="text-center text-muted"><small>By clicking on Sign up, you agree to <a href="#">terms & conditions</a> and <a href="#">privacy policy</a></small></p>

        <button type="submit" class="btn btn-block btn-primary">Sign up</button>
        <br/>

        <p class="text-center text-muted"><small>Already have an account? <a href="#/login">Log in now</a></small></p>
      </form>
    </div>
  </div>

</div>
