<div>
    <div class="b-todo">
        <ul class="b-todo__wrapper">
            <li class="b-todo__item"
              ng-repeat="todo in $ctrl.todos" ng-class="{'m-todo__item_done': todo.isComplite}">
                <todo todo="todo"></todo>
            </li>
        </ul>
    </div>
    <form class="form-inline b-board__form m-board__form_todo" ng-submit="$ctrl.add($ctrl.formData)" name="TodoForm">
        <div class="form-group b-board__form-group" ng-class="{'has-error': TodoForm.title.$dirty && TodoForm.title.$error.required}">
            <input type="text" class="form-control" placeholder="New Task" name="title" ng-model="$ctrl.formData.todo" required>
        </div>
        <button type="submit" class="btn btn-success b-board__form-btn">
          <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        </button>
        <span class="b-error" ng-show="TodoForm.title.$dirty && TodoForm.title.$error.required">Field is require!!!</span>
    </form>
</div>
