<div class="b-todo__item-wrap">
    <label>
        <input type="checkbox"
          ng-model="$ctrl.todo.isComplite"
          ng-change="$ctrl.update()">
        {{$ctrl.todo.title}}
    </label>
</div>
