<div class="container col-md-9">
    <div class="row" ng-repeat="tour in tourlistCtrl.tourList | CountryFilter:tourlistCtrl.selectedCountry |
                                CostFilter:tourlistCtrl.selectedCost | StarsFilter:tourlistCtrl.selectedStar:tourlistCtrl.hotels">
        <div class="country col-md-12 clearfix">
            <img ng-src="{{tour.photo}}" alt="pic" class="tour-photo">
            <div class="tour-content">
                <h3>{{tour.name}}</h3>
                <p>{{tour.description}}</p>
                <p>Продолжительность тура: {{tour.duration}}</p>
                <span>Стоимость тура за 1 человека: {{tour.cost | currency }}</span>
                <a href="#/tour/{{tour.$id}}" class="btn btn-info">Заказать тур</a>
            </div>
        </div>
    </div>
</div>