<aside  class="col-md-3">
    <div class="form-group clearfix">
        <label for="select1" class="col-md-4 control-label">Звезд</label>
        <div class="col-md-8">
            <select id="select1" class="form-control" ng-model="tourlistCtrl.selectedStar">
                <option value="">Выбрать количество звезд</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
    </div>
    <div class="form-group clearfix">
        <label for="select2" class="col-md-4 control-label">Стоимость</label>
        <div class="col-md-8">
            <select id="select2" class="form-control" ng-model="tourlistCtrl.selectedCost">
                <option value="">Выбрать стоимость</option>
                <option value="1">По убыванию</option>
                <option value="2">По возрастанию</option>
            </select>
        </div>
    </div>
    <div class="form-group clearfix">
        <label for="select3" class="col-md-4 control-label">Страна</label>
        <div class="col-md-8">
            <select id="select3" class="form-control" ng-model="tourlistCtrl.selectedCountry">
                <option value="">Выбрать страну</option>
                <option ng-repeat="country in tourlistCtrl.countries" value="{{country.id}}">{{country.name}}</option>
            </select>
        </div>
    </div>
    <a class="btn btn-raised btn-info" ng-click="tourlistCtrl.resetAll()">Сброс всех фильтров</a>
</aside>
<tourlist></tourlist>




