* {
  box-sizing: border-box;
}
body, html {
  height: 100%;
}
body {
  background: url(../images/bg-yellow.jpg) center no-repeat;
  background-size: cover;
}
.navbar {
  border-radius: 0;
  .b-main__login-btn {
    margin-top: 8px;
  }
}
.b-hello {
  .b-hello__title {
    margin-bottom: 20px;
  }
  .b-hello__text {
    padding: 25px;
  }
}
.b-auth {
  position: relative;
  .btn {
    margin: 8px 0 0 15px;
  }
  .b-auth__form {
    position: absolute;
    top: 51px;
    right: 0;
    z-index: 100;
    width: 250px;
    padding: 20px;
    background-color: #fff;
    .b-auth__error {
      margin-top: -10px;
    }
  }
  .b-auth__user {
    color: #fff;
    margin-top: 14px;
  }
}
