<div class="container b-hello">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <h1 class="text-center b-hello__title">Hello to our site!!!</h1>
      <p class="text-center bg-info b-hello__text">
        Please login to use our special options
      </p>
      <h2 class="text-center bg-waring"
        ng-if="$ctrl.authResponse.status == 401"
        ng-bind="$ctrl.authResponse.error"></h2>
    </div>
  </div>
</div>
