<div class="b-todo">
    <div class="row">
        <div class="b-board col-md-4 col-sm-6"
          ng-repeat="board in vm.boards">
            <board board="board"></board>
        </div>
        <div class="b-board col-md-4 col-sm-6">
            <board-add></board-add>
        </div>
    </div>
</div>
