body {
  background-color: #d8d8d8;
}
a {
  color: #3f729b;
}
a:hover {
  color: #1c5380;
}
.text-muted {
  color: #90939a;
}
.navbar {
  min-height: 50px;
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
  .navbar-nav {
    float: left;
    margin: 0;
    .navbar-brand {
      height: 50px;
      padding: 0 15px;
      font-size: inherit;
      line-height: 50px;
    }
    li {
      float: left;
      a {
        padding: 0 15px;
        line-height: 50px;
      }
    }
  }
}
.navbar-header {
  float: left;
  padding-left: 15px;
}
.navbar-text {
  margin-top: 10px;
  margin-bottom: 10px;
}
.center-form {
  width: 315px;
  margin: 10% auto;
}
.signup-or-separator {
  position: relative;
  height: 29px;
  margin: 5px 0;
  text-align: center;
  background: none;
  hr {
    width: 90%;
    margin: -16px auto 10px;
    border-top: 1px solid #dce0e0;
  }
}
.signup-or-separator .text {
  display: inline-block;
  padding: 8px;
  margin: 0;
  background-color: #fff;
}
.has-feedback .form-control-feedback {
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  line-height: 46px;
  color: #555;
}
[class^='ion-'] {
  font-size: 1.2em;
}
.has-feedback .form-control {
  padding-left: 42px;
}
.btn-instagram {
  color: #fff;
  background-color: #517fa4;
  border: 1px solid #456c8c;
}
.btn-instagram:focus,
.btn-instagram:hover {
  color: #fff;
  background-color: #303030;
}
.media-object {
  display: inline-block;
  width: 32px;
  height: 32px;
}
.media-heading {
  display: block;
  margin: 0;
  color: #3f729b;
}
.media-heading:hover {
  color: #1c5380;
}
.soften {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
  border: 0;
}
.thumbnail {
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .04),0 1px 5px rgba(0, 0, 0, .1);
}
