<div class="b-auth pull-right">
    <button class="btn btn-warning pull-right" ng-click="$ctrl.logout()">Log out</button>
    <button class="btn btn-warning pull-right"
      ng-click="$ctrl.authForm = !$ctrl.authForm"
      ng-if="!$ctrl.authService.user.isLogged">
      Log in
    </button>
    <div class="b-auth__form" ng-show="$ctrl.authForm">
        <form ng-submit="$ctrl.login($ctrl.formUser)">
            <div class="form-group">
                <label>Email address</label>
                <input ng-model="$ctrl.formUser.email" name="email" type="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input ng-model="$ctrl.formUser.password" name="password" type="password" class="form-control" placeholder="Password">
            </div>
            <div class="b-auth__error" ng-show="$ctrl.error">
              <span ng-bind="$ctrl.error" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Log in</button>
        </form>
    </div>
</div>
