* {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  body {
    background: url("../images/bg-blue.jpg");
    background-size: cover;
    padding: 60px;
  }
}
li,
ul {
  list-style: none;
  padding: 0;
}
.b-board__wrap {
  width: 100%;
  height: 420px;
  margin: 0 0 20px;
  display: block;
  position: relative;
  border: 1px solid #000;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 16px 3px rgba(0, 0, 0, 0.44);
  .b-board__delete {
    position: relative;
    float: right;
    cursor: pointer;
    overflow: hidden;
    text-indent: -234px;
    padding: 0 7px;
    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 4px;
      left: -1px;
      height: 2px;
      width: 10px;
      background: #000;
    }
    &:after {
      transform: rotate(45deg);
    }
    &:before {
      transform: rotate(-45deg);
    }
  }
  .b-board__edit {
    cursor: pointer;
  }
  .b-board__form {
    width: 100%;
    margin: 27px 0 7px;
    .b-board__form-group,
    .b-board__form-group input {
      width: 75%;
      float: left;
      input {
        width: 100%;
        font-size: 20px;
      }
    }
    button {
      width: 20%;
      float: right;
    }
  }
  .m-todo__item_done label {
    text-decoration: line-through;
  }
}
.b-todo {
  padding: 10px;
  margin: 10px;
  border: 1px solid gray;
  .b-todo__wrapper {
    height: 200px;
    overflow-y: scroll;
  }
}
.b-error {
  color: red;
  font-size: 15px;
  margin: 5px 0;
}
