<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <a href="/" class="navbar-brand"><i class="ion-images"></i> Instagram</a>
      <li><a href="#/">Home</a></li>
      <li ng-if="!$ctrl.isAuthenticated()"><a href="#/login">Log in</a></li>
      <li ng-if="!$ctrl.isAuthenticated()"><a href="#/signup">Sign up</a></li>
      <li ng-if="$ctrl.isAuthenticated()"><a ng-click="$ctrl.logout()" href="">Logout</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li ng-if="$ctrl.isAuthenticated() && $ctrl.currentUser.username">
        <a href="http://instagram.com/{{$ctrl.currentUser.username}}">
          <img class="media-object img-rounded" ng-src="{{$ctrl.currentUser.picture}}">
          @{{$ctrl.currentUser.username}}
        </a>
      </li>
    </ul>
  </div>
</div>
